:root {
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --primary-color-dark: #{$primary-color-dark};

  --color-grey-light-1: #{$color-grey-light-1};
  
  --color-grey-dark: #{$color-grey-dark};
  --color-white: #{$color-white};  

  --default-font-size: #{$default-font-size};

  --grid-width: #{$grid-width};
  --gutter-vertical: #{$gutter-vertical};
  --gutter-horizontal: #{$gutter-horizontal};
}