*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%; // 10px

  @include respond(tablet-land) {
    font-size: 54.25%; // 9px
  }

  @include respond(big-screen) {
    font-size: 75%; // 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet-port) {
    padding: 0;
  }
}

::selection {
  background-color: $primary-color;
  color: $color-white;
}
