*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%; // 10px

  @include respond(tablet-land) {
    font-size: 56.25%; // 9px
  }

  @include respond(tablet-port) {
    font-size: 50%; // 8px
  }

  @include respond(big-screen) {
    font-size: 75%; // 12px
  }
}

body {
  box-sizing: border-box;
}
