.header {
  background: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),
    url(../../../assets/hero.jpg) no-repeat top;
  background-size: cover;
  height: 95vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Logo */
  &__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    .header__logo {
      height: 35px;
    }
  }
  /* Text Box */
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    
  }
}

@include moveInX(Left, -100, 15, 0);
@include moveInX(Right, 100, -15, 0);
