.header {
  background: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),
    url(../../../assets/hero.jpg) no-repeat top;
  background-size: cover;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Logo */
  .header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    .header__logo {
      height: 35px;
    }
  }
  /* Text Box */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4.375rem;
    backface-visibility: hidden;
    &--main,
    &--sub {
      display: block;
    }
    &--main {
      font-size: 3.75rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      animation: moveInLeft 1s ease-out;
    }
    &--sub {
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 1.125rem;
      margin-left: -1.063rem;
      animation: moveInRight 1s ease-out;
    }
  }
}

@include moveInX(Left, -100, 15, 0);
@include moveInX(Right, 100, -15, 0);
