.header {
  background: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),
    url(../../../assets/hero-pequena.jpg) no-repeat top;
  background-size: cover;
  height: 85vh;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),
      url(../../../assets/hero.jpg) no-repeat top;
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* Logo */
  &__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    .header__logo {
      height: 35px;
    }
  }
  /* Text Box */
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

@include moveInX(Left, -6.25rem, 0.938rem, 0);
@include moveInX(Right, 6.25rem, -0.938rem, 0);
