.navigation {
  &__checkbox {
    display: none;
  }
  &__btn {
    background-color: var(--color-white);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 5.8rem;
    right: 5.8rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;

    @include respond(tablet-port) {
      top: 3rem;
      right: 3rem;
    }
  }
  &__bg {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-image: radial-gradient(var(--primary-color-light), var(--primary-color-dark));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  
    @include respond(tablet-port) {
      top: 3.3rem;
      right: 3.3rem;
    }
  }
  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    @include centerContent;
    list-style: none;
    text-align: center;
    width: 100%e;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
      background-size: 220%;
      color: var(--color-white);
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      transition: all 0.4s;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      color: var(--primary-color);
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  // Functionality
  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // Icon
  &__icon {
    position: relative;
    margin-top: 3.4rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: var(--color-grey-dark-3);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }

  }
  
  &__btn:hover &__icon::before {
    top: -1rem;
  }

  &__btn:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}
