@mixin moveInX ($direction, $initX, $midX, $finalX) {
  @keyframes moveIn#{$direction} {
    0% {
      opacity: 0;
      transform: translateX(toRem($initX));
    }
  
    80% {
      transform: translateX(toRem($midX));
    }
  
    100% {
      opacity: 1;
      transform: translateX(toRem($finalX));
    }
  }
}

@mixin moveInY ($topBottom, $initY, $finalY) {
  @keyframes moveIn#{$topBottom} {
    0% {
      opacity: 0;
      transform: translateY(toRem($initY));
    }
  
    100% {
      opacity: 1;
      transform: translateX(toRem($finalY));
    }
  }
}