@mixin moveInX($direction, $initX, $midX, $finalX) {
  @keyframes moveIn#{$direction} {
    0% {
      opacity: 0;
      transform: translateX($initX);
    }

    80% {
      transform: translateX($midX);
    }

    100% {
      opacity: 1;
      transform: translateX($finalX);
    }
  }
}

@mixin moveInY($topBottom, $initY, $finalY) {
  @keyframes moveIn#{$topBottom} {
    0% {
      opacity: 0;
      transform: translateY($initY);
    }

    100% {
      opacity: 1;
      transform: translateX($finalY);
    }
  }
}

@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { // 600px
      @content;
    }
  }

  @if $breakpoint == tablet-port {
    @media (max-width: 56.25em) { // 900px
      @content;
    }
  }

  @if $breakpoint == tablet-land {
    @media (max-width: 75em) { // 1200px
      @content;
    }
  }

  @if $breakpoint == big-screen {
    @media (min-width: 112.5em) { // 1800px
      @content;
    }
  }
}
