%white-btn-ph {
  display: inline-block;
  border-radius: 6.25rem;
  font-size: var(--default-font-size);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.938rem 2.5rem;
  transition: all 0.2s;
  position: relative;
}
