// Colors
$primary-color: rgb(85, 197, 122);
$primary-color-light: rgb(126, 213, 111);
$primary-color-dark: rgb(40, 180, 133);

$secondary-color-light: rgb(255, 185, 0);
$secondary-color-dark: rgb(255, 119, 48);

$tertiary-color-light: rgb(41, 152, 255);
$tertiary-color-dark: rgb(86, 67, 250);

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-2: rgb(231, 226, 226);

$color-grey-dark: rgb(119, 119, 119);
$color-grey-dark-2: rgb(153, 153, 153);
$color-grey-dark-3: rgb(51, 51, 51);

$color-white: rgb(255, 255, 255);

// Fonts
$default-font-size: 1.45rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;