// Colors
$primary-color: rgb(85, 197, 122);
$primary-color-light: rgb(126, 213, 111);
$primary-color-dark: rgb(40, 180, 133);

$color-grey-light-1: rgb(247, 247, 247);

$color-grey-dark: rgb(119, 119, 119);
$color-white: rgb(255, 255, 255);

// Fonts
$default-font-size: 1.5rem;

// Grid
$grid-width: toRem(1440);
$gutter-vertical: toRem(80);
$gutter-horizontal: toRem(60);