/* ===================
    Global
====================== */

/* Variables */
:root {
  --light-green: #7ed56f;
  --medium-green: #55c57a;
  --dark-green: #28b485;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 1.8rem;
}

/* ===================
    Header
====================== */

.header {
  background: linear-gradient(
      135deg,
      rgb(126, 213, 111, 0.8),
      rgb(40, 180, 131, 0.8)
    ),
    url(../../assets/hero.jpg) no-repeat top;
  background-size: cover;

  height: 95vh;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* Logo */
.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.logo-box-img {
  height: 35px;
}

/* Text Box */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__heading-primary {
  color: #fff;
  text-transform: uppercase;
}
.heading-primary-main, .heading-primary-sub  {
  display: block;
}

.heading-primary-main {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 28px;
}

.heading-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18px;
}
