// Header White Button
.btn {
  &,
  &:link,
  &:visited {
    @extend %white-btn-ph;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-0.188rem);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
    &::after {
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.063rem);
    box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.4);
  }
  
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
    &::after {
      background-color: var(--color-white);
    }
  }

  &--green {
    background-color: var(--primary-color);
    color: var(--color-white);
    &::after {
      background-color: var(--primary-color);
    }
  }
  
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s backwards;
  }
}

@include moveInY(Bottom, 40, 0);


.btn-text {
  &:link,
  &:visited {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: inline-block;
    font-size: var(--default-font-size);
    padding: toRem(4);
    text-decoration: none;
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--primary-color);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    color: var(--color-white);
    transform: translateY(toRem(-2));
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
  }
}