// Header White Button
.btn:link,
.btn:visited {
  display: inline-block;
  border-radius: 6.25rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.938rem 2.5rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.188rem);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.063rem);
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.4);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}

@include moveInY (Bottom, 40, 0);