.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: all 0.3s;

  &__icon {
    color: transparent;
    background-image: linear-gradient(to right, var(--primary-color-light), var(--primary-color-dark));
    display: inline-block;
    -webkit-background-clip: text;
    font-size: 6rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__text {
  }
}
